{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:25px;">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <!--<h1 class="display-6 p-0 m-0">{HEADING_TITLE}</h1>-->
                    <h1 class="display-6 p-0 m-0">Sobre nosotros</h1>
                </div>
                <div class="card-body card-body-custom">

                    <div class="row">
                        <div class="col-md-12 mb-5">
                            <div class="waojobs-about padding-mobile">
                            <div style="font-size:42px!important;font-weight: bold;">Cuchumil</div>
                            <p class="about_us_p" style="color:#F8E73E!important;font-size:22px!important;width:48%;">Somos la mejor herramienta para conectar oportunidades laborales con sueños profesionales</p>
                        </div>
                        </div>

                        <div class="col-md-6">
                            <!--<div class="bg-blue">Sobre Nosotros</div>-->
                            <div class="" style="color:#F631A1;font-weight:bold;font-size:30px;margin:0 0 10px 0;">¿Qué es Cuchumil?</div>
                            <p style="width:80%;padding:0 0 15px 0;">Cuchumil es la primera plataforma que conecta oportunidades laborales con el talento,
                                permitiendo a las empresas realizar todos los pasos de una contratación efectiva en un
                                mismo lugar.</p>
                            <p style="width:80%;padding:0 0 15px 0;">A través de Cuchumil, perseguimos el ideal de solucionar el problema raíz del desempleo
                                que existe en nuestro país: la falta de educación laboral del talento y de las empresas.
                            </p>
                            <p style="width:80%;">¡Sé parte de esta revolución del mercado laboral dominicano!</p>
                        </div>

                        <div class="col-md-6">
                            <div class="border" style="padding:20px;box-shadow:3px 3px 3px #ccc;-webkit-box-shadow: 0 15px 10px #777;
                            -moz-box-shadow: 0 5px 5px #ccc;
                            box-shadow: 0 5px 5px rgb(231, 231, 231);
                            ">
                                <div class="mb-4">
                                    <h4 style="color:#00CAEF;margin-bottom:7px;">Misión</h4>
                                    <p>Conectar sueños profesionales con oportunidades de empleo.</p>
                                </div>

                                <div class="mb-4">
                                    <h4 style="color:#00CAEF;margin-bottom:7px;">Visión</h4>
                                    <p>Revolucionar el mercado laboral.</p>
                                </div>

                                <div>
                                    <h4 style="color:#00CAEF;margin-bottom:7px;">Valores</h4>
                                    <ul style="color:#4A5568!important;margin-bottom: 0.5rem!important;list-style-type: disc;margin-left:20px;">
                                        <li>Pensamiento disruptivo transparente</li>
                                        <li>Experiencia que trasciende</li>
                                        <li>Compromiso con la causa</li>
                                        <li>Obsesión por la solución</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div style="margin:75px 0 50px 0;"> 
                        <div class="text-center fontt"
                            style="color:#F631A1;font-weight:bold;font-size:30px;margin:0 0 30px 0;">
                            Conoce nuestro equipo
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-3 pl-1 text-center img_us">
                                <img src="themes/waojobs/images/team1.jpg"
                                    class="img-fluid radius about_us_img" style="border-radius:5px;" alt="...">
                                <div class="text-center tag-name" style="background-color: #fff;
                                    border-radius: 5px;
                                    padding: 7px 15px;
                                    width: 200px;
                                    margin: -35px auto 0 auto;
                                    position: inherit;">
                                    <div class="fontt" style="font-weight: bold;font-size:18px;color:#00CAEF;">Ivanna Lajara</div>
                                    <div class="font22">Fundadora y Visionaria</div>
                                    <div class="text-center mt-3">
                                        <span><a href="https://www.instagram.com/ivannalajara/" target=”_blank” class="social-bg mr-1"><i class="fa fa-instagram fontt" aria-hidden="true"></i></a></span>
                                        <span><a href="https://www.linkedin.com/in/ivanna-lajara/" target=”_blank” class="social-bg"><i class="fa fa-linkedin-square fontt" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                            </div>

                           
                                Buttons of social networks
                                <span><a href="" target=”_blank” class="social-bg mr-1"><i class="fa fa-facebook fb2" aria-hidden="true"></i></a></span>
                                <span><a href="" target=”_blank” class="social-bg mr-1"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                                <span><a href="" target=”_blank” class="social-bg"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                           
                            <div class="col-lg-3 pl-1 text-center img_us">
                                <img src="themes/waojobs/images/team2.jpg"
                                    class="img-fluid radius about_us_img" style="border-radius:5px;" alt="...">
                                <div class="text-center tag-name" style="background-color: #fff;
                                border-radius: 5px;
                                padding: 7px 15px;
                                width: 200px;
                                margin: -35px auto 0 auto;
                                position: inherit;">
                                    <div class="fontt" style="font-weight: bold;font-size:18px;color:#00CAEF;">Ángela Liriano</div>
                                    <div class="font22">Cofundadora y Estratega</div>
                                    <div class="text-center mt-3">
                                        <span><a href="https://www.instagram.com/angelalirianor/" target=”_blank” class="social-bg mr-1 fontt"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                                        <span><a href="https://www.linkedin.com/in/angelalirianor/" target=”_blank” class="social-bg fontt"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 pl-1 text-center img_us">
                                <img src="themes/waojobs/images/team3.jpg"
                                    class="img-fluid radius about_us_img" style="border-radius:5px;" alt="...">
                                <div class="text-center tag-name" style="background-color: #fff;
                                border-radius: 5px;
                                padding: 7px 15px;
                                width: 200px;
                                margin: -35px auto 0 auto;
                                position: inherit;">
                                    <div class="fontt" style="font-weight: bold;font-size:18px;color:#00CAEF;">Aslyn Taveras</div>
                                    <div class="font22">Transformadora de Experiencias</div>
                                    <div class="text-center mt-3">
                                        <span><a href="https://www.linkedin.com/in/aslyn-taveras/" target=”_blank” class="social-bg fontt"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-3 pl-1 text-center img_us">
                                <img src="themes/waojobs/images/team4.jpg"
                                    class="img-fluid radius about_us_img" style="border-radius:5px;" alt="...">
                                <div class="text-center tag-name" style="background-color: #fff;
                                border-radius: 5px;
                                padding: 7px 15px;
                                width: 200px;
                                margin: -35px auto 0 auto;
                                position: inherit;">
                                    <div class="fontt" style="font-weight: bold;font-size:18px;color:#00CAEF;">Angie Vela</div>
                                    <div class="font22">Transformadora Educativa</div>
                                    <div class="text-center mt-3">
                                        <span><a href="https://www.linkedin.com/in/angie-vela-cely-14840895/" target=”_blank” class="social-bg fontt"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="row">
                        <div class="col-md-12 text-center"
                            style="color:#F631A1;font-weight:bold;font-size:30px;margin:20px 0 50px 0;">
                            Servicios que puedes encontrar en Cuchumil
                        </div>
                        <div class="col-md-6">
                            <div class="" style="">
                                <div class="mb-4">
                                    <div class="media">
                                        <div style="color: #00CAEF;font-size: 24px;margin: -2px 12px 0 0;"><i
                                                class="fa fa-check-circle" aria-hidden="true"></i></div>
                                        <div>
                                            <div class="media-body">
                                                <h4 style="color:#00CAEF;margin-bottom:8px;">Publicación de
                                                    Oportunidades</h4>
                                                <p>Comparte las posiciones vacantes en tu organización, recibe
                                                    aplicaciones,
                                                    entrevista a los candidatos potenciales, y contrata al talento
                                                    ideal.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="media">
                                        <div style="color: #00CAEF;font-size: 24px;margin: -2px 12px 0 0;"><i
                                                class="fa fa-check-circle" aria-hidden="true"></i></div>
                                        <div>
                                            <div class="media-body">
                                                <h4 style="color:#00CAEF;margin-bottom:8px;">Consulta de Talentos</h4>
                                                <p>Accede y conoce nuestro pool de talentos, identificando candidatos
                                                    potenciales
                                                    para las posiciones vacantes en tu organización.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="mb-4">
                                    <div class="media">
                                        <div style="color: #00CAEF;font-size: 24px;margin: -2px 12px 0 0;"><i
                                                class="fa fa-check-circle" aria-hidden="true"></i></div>
                                        <div>
                                            <div class="media-body">
                                                <h4 style="color:#00CAEF;margin-bottom:8px;">Suscripción Ilimitada</h4>
                                                <p>Disfruta de las funcionalidades de nuestra plataforma sin límites.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <img src="/themes/waojobs/images/jobseeker.jpg"
                                class="img-fluid" style="width:100%;float:right; border-radius: 29px;" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}