<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
</tr>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Dear <strong>{recruiter_name}</strong>, <br /><br /> <strong>{jobseeker_name}</strong> has applied for this job. <br /><br /> His/Her E-mail address is : <strong>{jobseeker_email_address}.</strong> <br /><br /> His/Her message are as follows :</span></span><hr /><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{content}<br />{application_link}<br />If you have any query then you can contact with us by clicking on the following link {admin_email}. <br /><br />Admin <br />This is an automated response, please do not reply! <br />{site_title} </span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>