{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000););
</script>
<div class="container">
    <div class="row">
			<div class="col-md-3 for-mobile">
			<!-- Left Starts -->
			{LEFT_HTML}
			<!-- Left Ends --> 
			</div>		
					
        <div class="col-md-9">
			<!-- Below Alert message File path is class/message_stack.php -->
			{update_message} 
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0">{HEADING_TITLE}</h1>
                </div>
                <div class="card-body card-body-custom">
				 	  
					<script language="javascript">
						function set_action(action1)
						{
							document.preview.action.value=action1;
						}
						</script>
					<script language="javascript" type="text/javascript" src="tinymce2/tinymce.js"></script>
					<script type="text/javascript">
						tinyMCE.init({
							theme : "modern",
							plugins: [
							'advlist autolink lists link image charmap print preview hr anchor pagebreak',
							'searchreplace wordcount visualblocks visualchars code fullscreen',
							'insertdatetime media nonbreaking save table contextmenu directionality',
							'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
							],
							toolbar1: 'styleselect | bold italic | forecolor | alignleft aligncenter alignright alignjustify | bullist numlist | link |image',
							// toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
							menubar:false,
							image_advtab: true,
							
							relative_urls : false,
							remove_script_host : false,
							mode : "exact",
							elements : "c_description",
							theme_advanced_toolbar_location : "top",
							theme_advanced_toolbar_align : "center",
							force_br_newlines : true,
							force_p_newlines : false,
							forced_root_block : '' 
							
						});
					</script>
     <!-- Middle Starts -->
				
						<tr>
							<td>
							 <table width="100%" height="550"  border="0" cellpadding="0" cellspacing="0" id="main-jobs-table2">
									<tr>{form}
										<td bgcolor="#FFFFFF" valign="top">
											<table  border="0" align="left" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td>{INFO_TEXT_DESCRIPTION1}</td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
												<tr>
													<td>{button}</td>
												</tr>
											</table>
										</td></form>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				</td>
				<!-- Middle Ends -->
    <!-- Right Starts -->
				
    <!-- Right ends -->
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>

                </div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}
