<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
</tr>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Hola {recruiter_name}</strong>, <br /><br /> <strong>{jobseeker_name}</strong> ha aplicado a tu oportunidad laboral, su correo electrónico es <strong>{jobseeker_email_address} </strong>para que te pongas en contacto<strong>.</strong> <br /><br /> Su mensaje es el siguiente:</span></span><hr /><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{content}<br />{application_link}<br /><br />{site_title} </span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>