<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
</tr>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Hola {to_email_address}</strong>,<br /><br /></span></span>
<p class="yiv0993106356msonormal" style="margin: 0in; margin-bottom: .0001pt; background: white;"><span lang="ES-CO" style="font-size: 11.0pt; font-family: 'Century Gothic';">Has recibido una invitación de <strong><span style="font-family: 'Century Gothic';">{from_email_name}</span></strong> para que seas parte de la mejor plataforma de empleabilidad en República Dominicana. </span></p>
<p>Puedes verla aquí: <strong>{click_here}</strong>. </p>
<p>Saludos,<strong><br /> {from_email_name}</strong></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>