<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
</tr>
<tr>
<td valign="top">
<p>Hola <strong>{jobseeker_name}</strong>,</p>
<p>¡Tu cuenta ha sido creada!</p>
<p>Ya puedes ingresar a WaoJobs y encontrar la oportunidad de tus sueños.</p>
<p><strong>Usuario:</strong> {user_name}</p>
<p><strong>Contraseña:</strong> {password}</p>
<p>Cualquier pregunta que tengas, escríbenos <strong>{admin_email},</strong> estamos para apoyarte.</p>
<p>Un saludo,</p>
<p>El equipo WaoJobs ;)</p>
<p> </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>