<p>{logo}</p>
<p><strong>¡Hola {recruiter_name},</strong></p>
<p>Ahora miles de personas podrán conectar con esta gran oportunidad:</p>
<p><strong>Título del trabajo: {job_title}</strong>.</p>
<p><strong>Fecha de caducidad : </strong> <strong><span style="color: #cc0000;">{expired}</span></strong></p>
<p>¡Deseamos encuentres al mejor talento!</p>
<p> </p>
<p>Cualquier duda que tengas, no dudes en contactarnos a <strong>{admin_email}</strong>, estamos para apoyarte.</p>
<p>Un saludo,<br /> {site_title}<span style="font-size: small;"><br /></span></p>