<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><img src="https://cuchumilempleos.com/img/logo.png" alt="" width="100px" height="100px"></span></td>
</tr>
<tr>
<td valign="top">
<p> </p>
<p>Hola <strong>{recruiter_name}</strong>,</p>
<p>¡Tu cuenta ha sido creada!</p>
<p>Ya puedes ingresar a Cuchumil y encontrar el talento ideal.</p>
<p><strong>Usuario:</strong> {user_name}</p>
<p><strong>Contraseña:</strong> {password}</p>
<p>Cualquier pregunta que tengas, escríbenos <strong><a href="https://cuchumilempleos.com/contact_us.php">Aqui</a>,</strong> estamos para apoyarte.</p>

<p> </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>