<table border="0" width="90%" cellspacing="1" cellpadding="0" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td bgcolor="#ffffff">
<table width="100%" cellspacing="2" cellpadding="2" align="center">
<tbody>
<tr>
<td bgcolor="#efefef">
<p><span style="font-size: medium;"><img src="https://cuchumilempleos.com/img/logo.png" alt="" width="100px" height="100px"><br /></span><span style="font-size: medium;"><strong>{site_title}</strong></span></p>
<p>Te enviamos toda la información del paquete que adquiriste:</p>
</td>
</tr>
<tr>
<td align="center" bgcolor="#f7f7f7" height="83">
<table border="0" width="90%" cellspacing="1" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr bgcolor="#f7f7f7">
<td style="width: 37.1846%;" bgcolor="#f7f7f7"><span style="font-size: medium;"><strong>Número de tu Pedido</strong></span></td>
<td style="width: 61.3278%;"><span style="font-size: medium;">{order_no}</span></td>
</tr>
<tr bgcolor="#f7f7f7">
<td style="width: 37.1846%;"><span style="font-size: medium;"><strong>Factura </strong></span></td>
<td style="width: 61.3278%;"><span style="font-size: medium;">{order_invoice}</span></td>
</tr>
<tr bgcolor="#f7f7f7">
<td style="width: 37.1846%;"><span style="font-size: medium;"><strong>Fecha de solicitud</strong> </span></td>
<td style="width: 61.3278%;"><span style="font-size: medium;">{order_date}</span></td>
</tr>
<tr bgcolor="#f7f7f7">
<td style="width: 37.1846%;"><span style="font-size: medium;"><strong>Estado de tu pedido</strong> </span></td>
<td style="width: 61.3278%;"><span style="font-size: medium;">{order_status}</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#f7f7f7"><span style="font-size: medium;">{user_comment}</span></td>
</tr>
<tr>
<td bgcolor="#efefef"><span style="font-size: medium;"><strong>Producto </strong></span></td>
</tr>
<tr>
<td bgcolor="#f7f7f7"><span style="font-size: medium;">{product_detail}</span></td>
</tr>
<tr>
<td bgcolor="#f7f7f7"><span style="font-size: medium;">{order_detail}</span></td>
</tr>
<tr>
<td bgcolor="#efefef"><strong><span style="font-size: medium;">Dirección de facturación </span></strong></td>
</tr>
<tr>
<td bgcolor="#f7f7f7"><span style="font-size: medium;">{billing_address}</span></td>
</tr>
<tr>
<td bgcolor="#efefef"><strong><span style="font-size: medium;">Método de pago </span></strong></td>
</tr>
<tr>
<td bgcolor="#f7f7f7"><span style="font-size: medium;">{payment_method_detail}</span></td>
</tr>
<tr>
<td bgcolor="#f7f7f7">
<p>Cualquier duda que tengas, no dudes en contactarnos a <strong>{admin_email}</strong>, estamos para apoyarte.</p>
<p>Un saludo,</p>
<p>{site_title}</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>