

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->

<!-- JavaScript Bundle with Popper -->
 
<link rel="stylesheet" href="css/imgpost.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div>
      <img src="../../img/logo.png" alt="">
    </div>
  </header>
  <div class="btns">
    <button  type="button" onclick="window.location.href = '/list_of_jobs.php'">Atras</button>
          <button  type="button" id="envimg">Enviar imagenes a mi correo</button>
  </div>
  <div class="contenedor" style="margin: 0px 100px !important;">
    <div id="page8">
        <div class="img">
            <img src="{logodeempresa}" alt="">
        </div>
        <div class="empname">
            <p>{nombredeempresa}</p>
        </div>
        <div class="trabajocn">
            <p>¡TRABAJA CON NOSOTROS!</p>
        </div>
        <div class="puesto">
            <p class="np" >{titulodeltrabajo}</p>
            <p class="dp">{descripciondeltrabajo}</p>
        </div>
        <div class="visitwao">
            <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
        </div>
        <div class="wj">
            <p>Cuchumil.com</p>
        </div>
    </div>

    <div id="page7">
        <div class="img2">
            <img src="{logodeempresa}" alt="">
        </div>
        <div class="empname2">
            <p>{nombredeempresa}</p>
        </div>
        <div class="trabajocn2">
            <p>¡TRABAJA CON NOSOTROS!</p>
        </div>
        <div class="puesto2">
            <p class="np2" >{titulodeltrabajo}</p>
            <p class="dp2">{descripciondeltrabajo}</p>
        </div>
        <div class="visitwao2">
            <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
        </div>
        <div class="wj2">
            <p>Cuchumil.com</p>
        </div>
    </div>

    <div id="page6">
        <div class="nrow">
            <div class="name6">
                <strong><p>{nombredeempresa}</p></strong>
            </div>
            <div class="imguser6">
                <img src="{logodeempresa}" alt="">
            </div>
        </div>
        <div class="nombrepusto">
            <p class="np6" style="   padding-top: 18px !important;">{titulodeltrabajo}</p>
            <p class="dp6">{descripciondeltrabajo}</p>
        </div>
        <div class="visitwao6" style="margin-top: 85px !important;">
            <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
        </div>
        <div class="wao6">
            <div class="bg6">
                <p>Cuchumil.com</p>
            </div>
        </div>
    </div>
    <div id="page5">
        <div class="nrow">
            <div class="name6">
                <strong><p>{nombredeempresa}</p></strong>
            </div>
            <div class="imguser6">
                <img src="{logodeempresa}" alt="">
            </div>
        </div>
        <div class="nombrepusto">
            <p class="np6">{titulodeltrabajo}</p>
            <p class="dp5">{descripciondeltrabajo}</p>
        </div>
        <div class="visitwao6">
            <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
        </div>
        <div class="wao6">
            <div class="bg5">
                <p>Cuchumil.com</p>
            </div>
            <br>
        </div>
    </div>

    <div id="page1">
        <div class="ne1">
            <strong><p>{nombredeempresa}</p></strong>

        </div>
        <div class="cuandro1">
            <div class="frase1">
                <p>¡cumple tu sueño profesional!</p>
            </div>
            <div class="line1"></div>
            <div class="job1">
                <p class="np1">{titulodeltrabajo}</p>
                <p class="dp1">{descripciondeltrabajo}</p>
            </div>
            <div class="visitwao1">
                <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
                <br>
            </div>
        </div>
        <div class="wj1">
            <p>Cuchumil.com</p>
        </div>
        <br>
    </div>

    <div id="page2">
        <div class="nrow">
            <div class="name1">
                <strong><p>{nombredeempresa}</p></strong>
            </div>
            <div class="imguser1">
                <img src="{logodeempresa}" alt="">
            </div>


        </div>
        <div class="cuandro1">
            <div class="frase2">
                <p>¡Trabaja con nosotros!</p>
            </div>
            <div class="line1"></div>
            <div class="job1">
                <p class="np1">{titulodeltrabajo}</p>
                <p class="dp1">{descripciondeltrabajo}</p>
            </div>
            <div class="visitwao1">
                <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
                <br>
            </div>
        </div>
        <div class="wj1">
            <p>Cuchumil.com</p>
        </div>
        <br>
    </div>

    <div id="page3">
        <div class="nrow3">
            <div class="imguser3">
                <img src="{logodeempresa}" alt="">
            </div>
            <div class="name3">
                <strong><p>{nombredeempresa}</p></strong>
            </div>



        </div>
        <div class="cuandro1">
            <div class="frase2">
                <p>¡Trabaja con nosotros!</p>
            </div>
            <div class="line1"></div>
            <div class="job1">
                <p class="np1">{titulodeltrabajo}</p>
                <p class="dp1">{descripciondeltrabajo}</p>
            </div>
            <div class="visitwao1">
                <p>Para conocer detalles sobre esta oportunidad, visita www.Cuchumil.com</p>
                <br>
            </div>
        </div>
        <div class="wj1">
            <p>Cuchumil.com</p>
        </div>
        <br>
    </div>

</div>
</body>
</html>

