<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
</tr>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Dear <strong>{to_email_address}</strong>,<br /><br />You have received an invitation from <strong>{from_email_name}</strong> to become a member of ejobsitesoftware.com.<br /><br />To be a part of </span><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">ejobsitesoftware.</span><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">com... please {click_here} .<br /><br /><br /><strong>Thanks And Regards,<br />{from_email_name}</strong></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>