{HEADER_HTML}
{HEADER_MIDDLE_HTML} 
<script>
    function addPlace() {
        const loc = document.querySelector("input[name='location']");
        loc.placeholder = "State or City.."; 
    }
    window.addEventListener('load',addPlace);
</script>
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" 

);
        // $messageStackSuccess
       });
   }, 50000););
</script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {JOB_SEARCH_LEFT}
        </div>
        
        
        <div class="col-md-9">
		{update_message}
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0">{HEADING_TITLE}</h1>
                </div>
                
                <div class="card-body card-body-custom">
                    
                    {form}
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            {INFO_TEXT_KEYWORD}
                        </label>
                        <div class="col-sm-9">
                         {INFO_TEXT_KEYWORD1}
						 <small class="form-check-inline mt-2 for-mobile">
                                        {INFO_TEXT_KEYWORD_CRITERIA}
                                        {INFO_TEXT_KEYWORD3}
                                    </small>
                                
                        </div>
                    </div>
					

                    <!-- <hr> -->
                    <!-- <div class="form-group row">
                        <label for="radio" class="form-group col-md-3">
                            {INFO_TEXT_KEYWORD_CRITERIA}
                        </label>                        

                        {INFO_TEXT_KEYWORD3}
                    </div> 
                    <hr> -->

                    <!-- <strong>
                        {INFO_TEXT_LOCATION} :
                    </strong> -->
                    <div class="form-group row">
                        <div class="col-md-3 col-form-label">
                            {INFO_TEXT_LOCATION} :
                        </div>
                        <div class="col-md-5 mb-3">
                          <!-- <label for="inputState">{INFO_TEXT_SEARCH_COUNTRY_STATE}</label> -->
                          {INFO_TEXT_COUNTRY1}
                        </div>
                        <div class="col-md-4">
                            <!-- <label for="inputZip">State or City</label> -->
                            <!-- {INFO_TEXT_LOCATION1} -->
                            <select name="state" class="form-control">
                                <option value="">Ciudad</option>
                                <option value="Altamira">Altamira</option>
                                <option value="Arenoso">Arenoso</option>
                                <option value="Azua">Azua</option>
                                <option value="Baitoa">Baitoa</option>
                                <option value="Baní">Baní</option>
                                <option value="Bánica">Bánica</option>
                                <option value="Barahona">Barahona</option>
                                <option value="Bávaro">Bávaro</option>
                                <option value="Bayaguana">Bayaguana</option>
                                <option value="Bisonó">Bisonó</option>
                                <option value="Boca Chica">Boca Chica</option>
                                <option value="Bohechío">Bohechío</option>
                                <option value="Bonao">Bonao</option>
                                <option value="Cabral">Cabral</option>
                                <option value="Cabrera">Cabrera</option>
                                <option value="Cambita Garabitos">Cambita Garabitos</option>
                                <option value="Castañuelas">Castañuelas</option>
                                <option value="Castillo">Castillo</option>
                                <option value="Cayetano Germosén">Cayetano Germosén</option>
                                <option value="Cevicos">Cevicos</option>
                                <option value="Comendador">Comendador</option>
                                <option value="Constanza">Constanza</option>
                                <option value="Consuelo">Consuelo</option>
                                <option value="Cotuí">Cotuí</option>
                                <option value="Cristóbal">Cristóbal</option>
                                <option value="Dajabón">Dajabón</option>
                                <option value="Distrito Nacional">Distrito Nacional</option>
                                <option value="Duvergé">Duvergé</option>
                                <option value="El Cercado">El Cercado</option>
                                <option value="El Factor">El Factor</option>
                                <option value="El Llano">El Llano</option>
                                <option value="El Peñón">El Peñón</option>
                                <option value="El Pino">El Pino</option>
                                <option value="El Seibo">El Seibo</option>
                                <option value="El Valle">El Valle</option>
                                <option value="Enriquillo">Enriquillo</option>
                                <option value="Esperanza234">Esperanza</option>
                                <option value="Estebanía">Estebanía</option>
                                <option value="Eugenio María de Hostos">Eugenio María de Hostos</option>
                                <option value="Fantino">Fantino</option>
                                <option value="Fundación">Fundación</option>
                                <option value="Galván">Galván</option>
                                <option value="Gaspar Hernández">Gaspar Hernández</option>
                                <option value="Guananico">Guananico</option>
                                <option value="Guayabal">Guayabal</option>
                                <option value="Guayacanes">Guayacanes</option>
                                <option value="2Guaymate44">Guaymate</option>
                                <option value="Guayubín">Guayubín</option>
                                <option value="Guerra">Guerra</option>
                                <option value="Haina">Haina</option>
                                <option value="Hato Mayor">Hato Mayor</option>
                                <option value="Higüey">Higüey</option>
                                <option value="Hondo Valle">Hondo Valle</option>
                                <option value="Imbert">Imbert</option>
                                <option value="Jamao al Norte">Jamao al Norte</option>
                                <option value="Jánico">Jánico</option>
                                <option value="Jaquimeyes">Jaquimeyes</option>
                                <option value="Jarabacoa">Jarabacoa</option>
                                <option value="Jima Abajo">Jima Abajo</option>
                                <option value="Jimaní">Jimaní</option>
                                <option value="Juan de Herrera">Juan de Herrera</option>
                                <option value="Juan Santiago">Juan Santiago</option>
                                <option value="La Ciénaga">La Ciénaga</option>
                                <option value="La Descubierta">La Descubierta</option>
                                <option value="La Mata">La Mata</option>
                                <option value="La Romana">La Romana</option>
                                <option value="La Vega">La Vega</option>
                                <option value="Laguna Salada">Laguna Salada</option>
                                <option value="Las Charcas">Las Charcas</option>
                                <option value="Las Guáranas">Las Guáranas</option>
                                <option value="Las Matas de Farfán">Las Matas de Farfán</option>
                                <option value="Las Matas de Santa Cruz">Las Matas de Santa Cruz</option>
                                <option value="Las Salinas">Las Salinas</option>
                                <option value="Las Terrenas">Las Terrenas</option>
                                <option value="Las Yayas de Viajama">Las Yayas de Viajama</option>
                                <option value="Licey al Medio">Licey al Medio</option>
                                <option value="Loma de Cabrera">Loma de Cabrera</option>
                                <option value="Los Alcarrizos">Los Alcarrizos</option>
                                <option value="Los Cacaos">Los Cacaos</option>
                                <option value="Los Hidalgos">Los Hidalgos</option>
                                <option value="Los Llanos">Los Llanos</option>
                                <option value="Los Ríos">Los Ríos</option>
                                <option value="Luperón">Luperón</option>
                                <option value="Maimón">Maimón</option>
                                <option value="Mao">Mao</option>
                                <option value="Matanzas">Matanzas</option>
                                <option value="Mella">Mella</option>
                                <option value="Miches">Miches</option>
                                <option value="Moca">Moca</option>
                                <option value="Monción">Monción</option>
                                <option value="Monte Cristi">Monte Cristi</option>
                                <option value="Monte Plata">Monte Plata</option>
                                <option value="Nagua">Nagua</option>
                                <option value="Navarrete">Navarrete</option>
                                <option value="Neiba">Neiba</option>
                                <option value="Nigua">Nigua</option>
                                <option value="Nizao">Nizao</option>
                                <option value="Otra ciudad">Otra ciudad</option>
                                <option value="Oviedo">Oviedo</option>
                                <option value="Padre Las Casas">Padre Las Casas</option>
                                <option value="Palenque">Palenque</option>
                                <option value="Paraiso">Paraiso</option>
                                <option value="Partido">Partido</option>
                                <option value="Pedernales">Pedernales</option>
                                <option value="3Pedro Brand01">Pedro Brand</option>
                                <option value="Pedro Santana">Pedro Santana</option>
                                <option value="Pepillo Salcedo">Pepillo Salcedo</option>
                                <option value="Peralta">Peralta</option>
                                <option value="Peralvillo">Peralvillo</option>
                                <option value="Piedra Blanca">Piedra Blanca</option>
                                <option value="Pimentel">Pimentel</option>
                                <option value="Polo">Polo</option>
                                <option value="Postrer Río">Postrer Río</option>
                                <option value="Pueblo Viejo">Pueblo Viejo</option>
                                <option value="Puerto Plata">Puerto Plata</option>
                                <option value="Puñal">Puñal</option>
                                <option value="Punta Cana">Punta Cana</option>
                                <option value="Quisqueya">Quisqueya</option>
                                <option value="Ramón Santana">Ramón Santana</option>
                                <option value="Rancho Arriba">Rancho Arriba</option>
                                <option value="Restauración">Restauración</option>
                                <option value="Río San Juan">Río San Juan</option>
                                <option value="Sabana de la Mar">Sabana de la Mar</option>
                                <option value="Sabana Grande de Boyá">Sabana Grande de Boyá</option>
                                <option value="Sabana Iglesia">Sabana Iglesia</option>
                                <option value="Sabana Larga">Sabana Larga</option>
                                <option value="Sabana Yegua">Sabana Yegua</option>
                                <option value="Sabaneta">Sabaneta</option>
                                <option value="Salcedo">Salcedo</option>
                                <option value="Samaná">Samaná</option>
                                <option value="San Cristóbal">San Cristóbal</option>
                                <option value="San Francisco de Macorís">San Francisco de Macorís</option>
                                <option value="San José de las Matas">San José de las Matas</option>
                                <option value="San José de Ocoa">San José de Ocoa</option>
                                <option value="San Juan de la Maguana">San Juan de la Maguana</option>
                                <option value="San Pedro de Macorís">San Pedro de Macorís</option>
                                <option value="San Rafael del Yuma">San Rafael del Yuma</option>
                                <option value="San Víctor">San Víctor</option>
                                <option value="Sánchez">Sánchez</option>
                                <option value="Santiago">Santiago</option>
                                <option value="Santo Domingo">Santo Domingo</option>
                                <option value="Santo Domingo Este">Santo Domingo Este</option>
                                <option value="Santo Domingo Norte">Santo Domingo Norte</option>
                                <option value="Santo Domingo Oeste">Santo Domingo Oeste</option>
                                <option value="Sosúa">Sosúa</option>
                                <option value="Tábara Arriba">Tábara Arriba</option>
                                <option value="Tamayo">Tamayo</option>
                                <option value="Tamboril">Tamboril</option>
                                <option value="Tenares">Tenares</option>
                                <option value="Vallejuelo">Vallejuelo</option>
                                <option value="Vicente Noble">Vicente Noble</option>
                                <option value="Villa Altagracia">Villa Altagracia</option>
                                <option value="Villa González">Villa González</option>
                                <option value="Villa Hermosa">Villa Hermosa</option>
                                <option value="Villa Isabela">Villa Isabela</option>
                                <option value="Villa Jaragua">Villa Jaragua</option>
                                <option value="Villa Los Almácigos">Villa Los Almácigos</option>
                                <option value="Villa Montellano">Villa Montellano</option>
                                <option value="Villa Riva">Villa Riva</option>
                                <option value="Villa Tapia">Villa Tapia</option>
                                <option value="Villa Vásquez">Villa Vásquez</option>
                                <option value="Yaguate">Yaguate</option>
                                <option value="Yamasá">Yamasá</option>
                              </select>
                        </div>
                    </div>
                    <!-- <hr> -->
{INFO_CODE_IF_COUNTRY_US}
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            {INFO_TEXT_JOB_CATEGORY}
                        </label>
                        <div class="col-md-9">
                            {INFO_TEXT_JOB_CATEGORY1}
                            <small>                            
                                {INFO_TEXT_JOB_CATEGORY_TEXT}
                            </small>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            {INFO_TEXT_JOB_TYPE}
                        </label>
                        <div class="col-md-9">
                            {INFO_TEXT_JOB_TYPE1}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            {INFO_TEXT_EXPERIENCE} :
                        </label>
                        <div class="col-md-9">
                            {INFO_TEXT_EXPERIENCE1}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            {INFO_TEXT_JOB_SALARY}
                        </label>
                        <div class="col-md-9">
                            {INFO_TEXT_JOB_SALARY1}
                        </div>
                    </div>

                    <!-- <hr> -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            {INFO_TEXT_JOB_POSTED}
                        </label>
                        <div class="col-md-9">
                            {INFO_TEXT_JOB_POSTED1}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            {button}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{FOOTER_HTML}
