{INFO_TEXT_SEARCH_JOB_TITLE}{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<script src="{INFO_TEXT_JSCRIPT_FILE}"></script>
<script src="{HOST_NAME}jscript/job_pagination.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{JOB_SEARCH_LEFT}
		</div>


		<div class="col-md-9">
		
			<!-- Below Alert message File path is class/message_stack.php -->
			{update_message}
			<div class="card card-custom">
				<div class="card-header card-header-custom">
					<h1 class="display-6 p-0 m-0 float-left mt-1">{HEADING_TITLE}</h1>
					<div class="row">
					<div class="col-md-5 float-right text-right pr-0"> 					{save_search}{hidden_fields}{hidden_fields1}
						<div class="input-group">
						{INFO_TEXT_ALERT_IMAGE}
						{INFO_TEXT_ALERT_TEXT}
						</div>
					</div> 
					 
					<div class="col-md-7 input-group float-right text-right">						
						{INFO_TEXT_CHANGE_CRITERIA} {INFO_TEXT_TITLE_NAME1} 
						<div class="input-group-append">
						  {INFO_TEXT_ALERT_SAVE}
						</div>
					</div>
					</div>
				</div>
				<div class="card-body card-body-custom pt-2">
				<div class="mb-2">{total}</div>
				{form}
				<div id="page_contents">
				
									<!-- BEGIN job_search_result -->
					<div class="border-topp">
						<div class="media py-4 px-4">
							<div class="media-body">
								<div class="row">
									<div class="cold text-right" style="width:20px;">{job_search_result.check_box}</div>
									<div class="col-md-11">

										<h5 class="mt-0 mb-2">{job_search_result.job_title} <span
												class="small ml-2 text-muted">{job_search_result.experience}</span></h5>
										<span class="mr-3 text-muted small-font"><i class="fa fa-building faicons"
												aria-hidden="true"></i> {job_search_result.company_name}</span>
										<span class=" text-muted small-font"><i class="fa fa-map-marker faicons"
												aria-hidden="true"></i> {job_search_result.location}</span>
										<div>
											
											<span class="text-muted small-font mr-4"><i class="fa fa-clock-o faicons"
													aria-hidden="true"></i> {job_search_result.job_type}</span>													<span class="mr-3 text-muted small-font">{job_search_result.salary}</span>
										</div>
										<div  class="result-desc mt-1">{job_search_result.description}</div>
										<div class="small my-2 skill-tag">{job_search_result.job_skill}</div>
										<span class="result-email">{job_search_result.email_job}</span>
										
										<span class="result-ends"><div class="btn btn-sm btn-text border bg-white mr-3">	<i class="fa fa-desktop mr-1" aria-hidden="true"></i> {INFO_TEXT_POSTED_ON} {job_search_result.posted_on}</div></span>
										<span>{job_search_result.applywithoutlogin}</span>
									</div>
								</div>

							</div>
							<div class="mini-profile-img">{job_search_result.logo}
							<div class="mt-2">{job_search_result.apply_job}</div>
							</div>
							
						</div>
					</div>
					<!-- END job_search_result -->

				
				
				
				
				</div>
			</div>
			
			<div class="card-footer card-footer-custom">
					<div class="float-left">{pages}</div>
					<div class="float-right text-right" id='pagination-flickr'>{total_pages}</div>
		</div>
		</form>
		</div>
</div>
</div>
</div>


{FOOTER_HTML}
