{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000););
</script>

 <div class="container">
    <div class="row">
		<div class="col-md-3">
		{JOB_SEARCH_LEFT}
		</div>
		
        <div class="col-md-9">
		<!-- Below Alert message File path is class/message_stack.php -->
		{update_message} 
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0">{HEADING_TITLE}</h1>
                </div>
                <div class="card-body card-body-custom">
				<div class="row">
				<div class="col-md-6">
				<!-- BEGIN job_category1 -->
                   {job_category1.category_name} 
                   <!-- END job_category1 -->
				</div>
				<div class="col-md-6">
				<!-- BEGIN job_category2 -->
                 {job_category2.category_name}
                   <!-- END job_category2 -->
				</div>
				</div>

                </div>
            </div>
        </div>
    </div>
</div>
{FOOTER_HTML}
