<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
</tr>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Dear <strong>{jobseeker_name}</strong>,<br /><br /> <span style="color: #000000;"> Thank you for registering on {site_title}.</span><span style="color: #ff0000;"><br /></span><br /><strong> Your username:</strong> <span style="color: #ff0000;">{user_name}<br /></span><strong> Your password :</strong> <span style="color: #ff0000;">{password}</span><br /><br /> You can access our site by this username/password.<br /><br /> If you have any query then you can contact with us by clicking on the following link {admin_email}.<br /><br /> Admin<br /> This is an automated response, please do not reply! </span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>