{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
			   <table border="0" width="100%" cellspacing="0" cellpadding="0">
				   <tr>
					   <td valign="top">
					   <div class="page-headbar">
         <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
           <td><div class="left-bar-heading">{HEADING_TITLE}</div></td>
           <td align="right">{HEADING_TITLE1}</td>
          </tr>
         </table>
		 </div>
        </td>
       </tr>
      </table>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="0" class="block-shadow">
          <tr>
           <td valign="top">
            <table border="0" width="95%" cellspacing="0" cellpadding="0" align="center" style="padding:20px 0 0 0;">
             <tr class="infoBoxContent">
              <td valign="top" width="50%">
               <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                 <td valign="top" class="rec-dashboard-box-title">{ENTRY_CUSTOMER}</td>
                </tr>
                <tr>
                 <td valign="top" class="rec-dashboard-box1">{ENTRY_CUSTOMER1}</td>
                </tr>
               </table>
              </td>
			   <td width="30">&nbsp; </td>
			   
              <td valign="top">
               <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                 <td valign="top" class="rec-dashboard-box-title">{ENTRY_BILLING_ADDRESS}</td>
                </tr>
                <tr>
                 <td valign="top" class="rec-dashboard-box1">{ENTRY_BILLING_ADDRESS1}</td>
                </tr>
               </table>
              </td>
             </tr>
            </table>
            <br>
            <table border="0" width="95%" cellspacing="0" cellpadding="0" class="rec-dashboard-box1" align="center" style="height:0;">
             <tr>
              <td>{ENTRY_PAYMENT_METHOD}&nbsp;&nbsp;&nbsp;<span style="color:green;">{ENTRY_PAYMENT_METHOD1}</span></td>
             </tr>
            </table>
            {credit_card_string}
            <br>
            <table border="0" width="95%" cellspacing="0" cellpadding="0" align="center" class="rec-dashboard-box1" style="height:0;">
             <tr class="infoBoxContent">
              <td valign="top" width="50%">
               <table border="0" cellspacing="3" cellpadding="0">
                <tr>
                 <td valign="top" class="label">{TABLE_HEADING_PRODUCTS}</td>
                 <td valign="top">{TABLE_HEADING_PRODUCTS1}</td>
                </tr>
                <tr>
                 <td valign="top" class="label">{TABLE_HEADING_TOTAL_PRICE}</td>
                 <td valign="top">{TABLE_HEADING_TOTAL_PRICE1}</td>
                </tr>
                {order_total_text}
               </table>
              </td>
             </tr>
            </table>
            <br>
            <table border="0" width="95%" cellspacing="0" cellpadding="0" align="center" id="jobs-table" style="border:1px solid #ccc;">
             <tr class="jobs-table-headbar">
              <td valign="top" class="label">{TABLE_HEADING_DATE_ADDED}</td>
              <td valign="top" class="label">{TABLE_HEADING_STATUS}</td>
              <td valign="top" class="label">{TABLE_HEADING_COMMENTS}</td>
             </tr>
             <tr>
              <td valign="top">{TABLE_HEADING_DATE_ADDED1}</td>
              <td valign="top">{TABLE_HEADING_STATUS1}</td>
              <td valign="top">{TABLE_HEADING_COMMENTS1}</td>
             </tr>
            </table>
            <br>
            <table border="0" width="95%" cellspacing="0" cellpadding="0" align="center">
            {form}
             <tr>
              <td valign="top" class="label">{TABLE_HEADING_MY_COMMENTS}</td>
             </tr>
             <tr>
              <td valign="top">{TABLE_HEADING_MY_COMMENTS1}</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
<!-- Middle Ends -->
<!-- Right Starts -->
 </tr>
</table>
<!-- Right Ends -->
{FOOTER_HTML}