{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" 

);
        // $messageStackSuccess
       });
   }, 50000););
</script>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			{LEFT_HTML}
		</div>
		
		<div class="col-md-9">
		{update_message}
			<div class="card">
				<div class="card-header form-inline">
						{HEADING_TITLE}

						{INFO_TEXT_LIST_OF_APPLICATIONS}
				</div>
				<div class="card-body">
					<form name="page" method="post">
						{total}
						
						<table class="table table-hover">
							
							<thead>
								<tr class="jobs-table-headbar">
									<th>{TABLE_HEADING_JOB_TITLE}</th>
									<th>{TABLE_HEADING_APPLICANTNL_NAME}</th>
									<th>{TABLE_HEADING_APPLICANTNL_EMAIL_ADDRESS}</th>
									<th>{TABLE_HEADING_INSERTED}</th>
									<th>{TABLE_HEADING_RESUME_DELETE}</th>
									<th>{TABLE_HEADING_RESUME_VIEW}</th>
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN applicantnl_result -->
								<tr{search_resume_result.row_selected}>
								<td>{applicantnl_result.job_title}</td>
								<td>{applicantnl_result.name}</td>
								<td>{applicantnl_result.email_address}</td>
								<td>{applicantnl_result.inserted}</td>
								<td>{applicantnl_result.delete}</td>
								<td>{applicantnl_result.view}</td>
							</tr>
							<!-- END applicantnl_result -->
						</tbody>
						<tfoot>
							<tr>
								<td>{count_rows}</td>
								<td>{no_of_pages}</td>
								<td>{new_button}</td>
								<td>{list_page}</td>
								<td>{page}</td>
							</tr>
							{hidden_fields}
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
{FOOTER_HTML}
