{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" 

);
        // $messageStackSuccess
       });
   }, 50000););
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
		{update_message}
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0 float-left">{HEADING_TITLE}</h1>
					<div class="float-right">{add_new}</div>
                </div>
				
				<div class="card-header card-header-custom">
				{INFO_TEXT_MAX_RESUME}</div>
				
                <div class="card-body card-body-custom p-0">
			
			<div class="table-responsive">
			<table class="table table-hover">
			<thead>
			<tr>
				<th>{TABLE_HEADING_RESUME_NAME}</th>
				<th>{TABLE_HEADING_INSERTED}</th>
				<th>{TABLE_HEADING_UPDATED}</th>
				<th>{TABLE_HEADINGVIEWED}</th>
				<th>{TABLE_HEADING_SEARCHABLE}</th>
				<th>{TABLE_HEADING_AVAILABILITY}</th>
				<th>{TABLE_HEADING_EDIT}</th>
				<th>{TABLE_HEADING_DELETE}</th>
				<th>{TABLE_HEADING_VIEW}</th>
				<th>{TABLE_HEADING_DUPLICATE}</th>
			</tr>
			</thead>								
             <!-- BEGIN resume -->
            <tr{resume.row_selected}>
             <td>{resume.resume_name}</td>
             <td>{resume.inserted}</td>
             <td>{resume.updated}</td>
             <td>{resume.viewed}</td>
													<td>{resume.search_status}</td>
													<td>{resume.available_status}</td>
													<td>{resume.edit}</td></form>
													<td>{resume.delete}</td>
													<td>{resume.view}</td></form>
													<td>{resume.duplicate}</td></form>
			</tr>
            <!-- END resume -->
												
			</table>
			</div>							
                </div>
				
				<div class="card-footer">
				<span class="float-left">{count_rows}</span> <span class="float-right text-right">{no_of_pages}</span>
				</div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}
