{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" 

);
        // $messageStackSuccess
       });
   }, 50000););
</script>

<div class="container">
    <div class="row">
			<div class="col-md-3 for-mobile">
			<!-- Left Starts -->
			{LEFT_HTML}
			<!-- Left Ends --> 
			</div>
        <div class="col-md-9">
		{update_message}
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0 float-left">{HEADING_TITLE}</h1>
					<div class="float-right mobile-float-left">{add_new}</div>
                </div>
			<div class="p-2">{INFO_TEXT_GET_DAILY_RESUME}</div>
            <div class="card-body card-body-custom p-0">

			<div class="table-responsive-sm scrollmenu">
			<table class="table table-hover">
               <thead>
			   <tr class="dataTableHeadingRow jobs-table-headbar">
                <th>{TABLE_HEADING_TITLE_NAME}</th>
                <th>{TABLE_HEADING_INSERT_DATE}</th>
                <th>{TABLE_HEADING_UPDATE_DATE}</th>
                <th>{TABLE_HEADING_RUN}</th>
                <th>{TABLE_HEADING_EDIT}</th>
                <th>{TABLE_HEADING_DELETE}</th>
               </tr>
				</thead>
				<!-- BEGIN list_job_save_result -->
               <tr{list_job_save_result.row_selected}>
                <td>{list_job_save_result.title}</td>
                <td>{list_job_save_result.inserted}</td>
                <td>{list_job_save_result.updated}</td>{list_job_save_result.run_form}
                <td>{list_job_save_result.run}{list_job_save_result.hidden_fields1}</td></form>{list_job_save_result.edit_form}
                <td>{list_job_save_result.edit}{list_job_save_result.hidden_fields1}</td></form>
                <td>{list_job_save_result.delete}</td>
               </tr>
															<!-- END list_job_save_result -->
            </table>
			</div>											
			
            <form name="page" method="post">
              <table border="0" width="100%" cellspacing="0" cellpadding="2">
               <tr>{hidden_fields}
                <td>{total}</td><td valign="top" align="right">{list_page}&nbsp;{page}&nbsp;</td>
               </tr></form>
              </table>
                </div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}
