{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000););
</script>
<div class="container">
    <div class="row">
		<div class="col-md-3">
		<!-- Left Starts -->
					{JOB_SEARCH_LEFT}
					<!-- Left Ends -->     
		</div>			
					
        <div class="col-md-9">
		<!-- Below Alert message File path is class/message_stack.php -->
		{update_message} 
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0">{HEADING_TITLE}</h1>
                </div>
                <div class="card-body card-body-custom p-0">
				<div class="table-responsive-sm scrollmenu">
				<table class="table table-hover">
						<!--<tr>
							<td align="right" class="style27" colspan="2">{INFO_TEXT_MAX_COVERLETTER}</td>
							<td align="right" class="small" colspan="4">{add_new}</td>
						</tr>
						{INFO_TEXT_MY_SAVE_JOB_TEXT}-->
						<thead>
						<tr class="dataTableHeadingRow jobs-table-headbar">
						<th class="dataTableHeadingContent" width="32%">{TABLE_HEADING_JOB_TITLE}</th>
						<th class="dataTableHeadingContent" width="18%">{TABLE_HEADING_COMPANY_NAME}</th>
						<th class="dataTableHeadingContent" width="18%">{TABLE_HEADING_ADVERTISED}</th>
						<th class="dataTableHeadingContent" width="17%">{TABLE_HEADING_EXPIRED}</th>
						<th class="dataTableHeadingContent" width="4%">{TABLE_HEADING_DELETE}</th>
						<th class="dataTableHeadingContent" width="11%">{TABLE_HEADING_APPLY}</th>
					</tr>
					</thead>
					 <!-- BEGIN job -->
					<tr{job.row_selected}>
					 <td valign="top">{job.job_title}</td>
					 <td valign="top">{job.company_name}</td>
					 <td valign="top">{job.re_adv}</td>
					 <td valign="top">{job.expired}</td>
					<td valign="top">{job.delete}</td>
					<td valign="top">{job.apply}</td>
					</tr>
					<!-- END job -->
				</table>
				</div>						
			</div>
			
			<div class="card-footer">
			{count_rows} {no_of_pages}
			</div>
			
			
            </div>
        </div>
    </div>
</div>


{FOOTER_HTML}
