{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" 

);
        // $messageStackSuccess
       });
   }, 50000););
</script>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0">Politica de privacidad</h1>
                </div>
                <div class="card-body card-body-custom">
											
<p class="card-text mb-3" style="font-size:17px;text-align:justify;">La protección de su derecho a la privacidad es uno de nuestros pilares de servicio y experiencia del usuario.</p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">La Política de Privacidad de Datos hace referencia a los datos de carácter personal que obtenemos de nuestros usuarios a través de la navegación en la plataforma, la creación de perfiles, y la compra de productos o servicios. </p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">La Política de Privacidad de Datos se refiere a ciertos datos recabados por nosotros como, por ejemplo:</p>

<ul style="list-style-type:disc;margin-left:25px;font-size:17px;">
<li class="mb-2">Datos proporcionados por los usuarios al momento de la creación de su perfil. Esto incluye, pero no se limita a: su nombre, dirección, empresa para las que trabajan, números de teléfono, direcciones de correo electrónico, fecha y lugar de nacimiento, número de cédula de identidad, número de licencia de conducir, número de pasaporte, información relativa a las tarjetas de crédito que utilizan;</li>
<li class="mb-2">Información relacionada a las operaciones que realizan los usuarios en la plataforma, como planes adquiridos, tiempos de uso, o cualquier detalle de su experiencia en Wao Jobs;</li>
</ul>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Nuestra fuente para la recopilación de datos de carácter personal incluye los sitios web administrados por nuestra plataforma así como por terceros.</p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Cualquier información que se obtenga de los usuarios será tratada en forma confidencial por Wao Jobs.</p>

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Wao Jobs responsablemente indica que: </div>

<ul style="list-style-type:disc;margin-left:25px;font-size:17px;">
<li class="mb-2">Tiene un sistema de protección <span class="text-warning">perimetral y antivirus</span> de protección de sus sistemas informáticos.</li>
<li class="mb-2">Que el acceso a los sistemas informáticos se realiza por medio de usuarios y contraseñas individuales y de alta seguridad.</li>
<li class="mb-2">Que dispone de copias de seguridad, en su caso, de los datos personales de los usuarios.</li>
<li class="mb-2">En el supuesto de gestionar soportes o documentos con datos personales de los usuarios, éstos están debidamente custodiados bajo accesos exclusivos de alta seguridad.</li>
<li class="mb-2 text-warning">Que dispone de un registro de incidencias de seguridad.</li>
<li class="mb-2 text-warning">Ha establecido mecanismos y procedimiento de notificación de quiebras de seguridad.</li>
</ul>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Wao Jobs es responsable de mantener la confidencialidad de sus usuarios, incluso después de que finalice la relación comercial, y de garantizar que las personas autorizadas para acceder a los datos también se comprometan y cumplan las medidas de seguridad establecidas en nuestra plataforma. </p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Wao Jobs tiene en sus políticas y procedimientos realizar controles periódicos de cumplimiento de las evaluaciones a las medidas de seguridad técnicas y organizativas que garanticen el cumplimiento de dichas políticas. </p>

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Políticas de servicios</div>
<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Servirte de la mejor manera posible será siempre nuestro compromiso. Aquí podrás encontrar las condiciones generales para adquirir los diferentes servicios que ofrecemos desde esta plataforma. 
El usuario, en el momento que finaliza el proceso de registro, y adquiere alguno de nuestros servicios, acepta las condiciones especificadas más adelante, además de las condiciones de acceso y uso de nuestra plataforma y nuestras políticas de privacidad.</p>

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Precios</div>
<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Al momento de hacer click en el botón comprar, el cliente acepta pagar los montos establecidos en nuestra plataforma <a href="www.waojobs.com" style="color:#00CAEF!important;">www.waojobs.com.</p></a>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Cuando el usuario termine la selección del servicio, nuestra plataforma le llevará a una pantalla de confirmación previa a proceder al pago. </p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">En dicha página podrá ver el desglose del cargo.</p> 

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Pago</div>
<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Nuestra plataforma acepta las siguientes formas de pago:</p>

<ul style="list-style-type:disc;margin-left:25px;font-size:17px;">
<li class="mb-2">Tarjeta de Crédito y Débito : La transacción se realiza conectando directamente con la entidad bancaria Community Federal Savings Bank a través de su portal de cobro. </li>
<li class="mb-2">Paypal : Conectando directamente con Paypal.
Los pagos son efectuados previos a la prestación del servicio, por lo que el usuario no tendrá acceso al producto solicitado hasta el momento en que Waojobs haya recibido el pago del mismo.</li>
</ul>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Wao jobs se reserva el derecho a cancelar temporal o definitivamente los servicios prestados, ante cualquier incidencia o interrupción en materia de cobro de los mismos.</p>

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Facturas</div>
<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Al realizar el pago correspondiente, el usuario tendrá acceso a la Factura en formato PDF descargable a través de su Panel de Usuario.</p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">El usuario es responsable de la confirmación de la recepción de las notificaciones relacionadas a la compra.</p>

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Garantía</div>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">En Wao Jobs estamos comprometidos con brindar servicios de alta calidad para que nuestros usuarios puedan tener la mejor experiencia posible. Por la naturaleza de nuestros productos, garantizamos el correcto funcionamiento de la plataforma y la experiencia de los usuarios, sin embargo el resultado de la contratación queda fuera de nuestro alcance.</p>

<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Si por cualquier motivo, el usuario no recibe el servicio correspondiente, deberá comunicarse lo antes posible al correo <a href="mailto:info@waojobs.com" style="color:#00CAEF!important;">info@waojobs.com</a> indicándonos la situación, se verificará el error y se corregirá a la brevedad posible.</p>

<div style="font-size:24px;font-weight:bold;margin-bottom:12px;display:block;">Devoluciones</div>
<p class="card-text mb-3" style="font-size:17px;text-align:justify;">Wao Jobs ofrece un sistema de devoluciones siempre que el servicio o producto no haya sido consumido por el usuario que lo adquirió.</p>


</div>
            </div>
        </div>
    </div>
</div>
{FOOTER_HTML}
