{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- Left Starts -->
			{JOB_SEARCH_LEFT}
			<!-- Left Ends -->
		</div>
		<!-- Middle Starts -->
		<div class="col-md-9">
		{update_message}
			<div class="card">
				<div class="card-header">
							<h1 class="display-6 p-0 m-0 float-left">{HEADING_TITLE}</h1>

							<div class="float-right text-right"><nobr>{INFO_TEXT_BACK} {INFO_TEXT_REPLY}</nobr></div>

				</div>
				
				<div class="card-body">
					<div class="mb-4">
						<div class="font-weight-bold">{INFO_TEXT_SUBJECT}</div>
						<div>{INFO_TEXT_SUBJECT1}</div>

					</div>
					<div class="">
						<div class="font-weight-bold">{INFO_TEXT_MESSAGE}</div>
						<div>{INFO_TEXT_MESSAGE1}</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Right Starts -->
	{RIGHT_HTML}
	<!-- Right ends -->
</div>
</div>

{FOOTER_HTML}