<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>

<head>
  <title>Resume Match Detail</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>

<body>
  <!-- Left Starts -->
  <table border="0" width="100%" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <!-- Left Ends -->
      <!-- Middle Starts -->
      <td width="100%" valign="top">
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">
              <table border="0" width="99%" cellspacing="1" cellpadding="2" class="infoBox" align="center">
                <tr bgcolor="FFFFFF">
                  <td valign="top">
                    <table border="0" width="100%" cellspacing="0" cellpadding="10">
                      <tr>
                        <td class="pageHeading" align="center">{HEADING_TITLE}</td>
                      </tr>
                    </table>
                    <table border="0" width="100%" cellspacing="1" cellpadding="3">
                      <tr>
                        <td valign="top">
                          <table width="100%" border="0" cellspacing="1" cellpadding="2">
                            <tr>
                              <td align="right">
                                <table>
                                  <tr>
                                    <td class="label" colspan="2">
                                      <b>{INFO_TEXT_JOBSEEKER_NAME}</b><br>{INFO_TEXT_JOBSEEKER_APP_ID}
                                      <b>{INFO_TEXT_JOBSEEKER_APP_ID1}</b></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <table width="100%" border="0" cellspacing="1" cellpadding="2">
                            <tr class="dataTableHeadingRow">
                              <td class="dataTableHeadingContent">{INFO_TEXT_FIELDS}</td>
                              <td class="dataTableHeadingContent">{INFO_TEXT_JOB_WEIGHTS}</td>
                              <td class="dataTableHeadingContent">{INFO_TEXT_RESUME_WEIGHTS}</td>
                            </tr>
                            <tr class="dataTableRow1">
                              <td class="label" width="30%">{INFO_TEXT_LOCATION}</td>
                              <td class="dataTableContent_blue">{INFO_TEXT_JOB_LOCATION1}</td>
                              <td class="dataTableContent">{INFO_TEXT_RESUME_LOCATION_ORIGIN}</td>
                            </tr>
                            <tr class="dataTableRow2">
                              <td class="label">Educación</td>
                              <td class="dataTableContent_blue">{INFO_TEXT_JOB_INDUSTRY1}</td>
                              <td class="dataTableContent">{INFO_TEXT_RESUME_INDUSTRY1}</td>
                            </tr>
                            <tr class="dataTableRow1">
                              <td class="label">{INFO_TEXT_EXPERIENCE}</td>
                              <td class="dataTableContent_blue">{INFO_TEXT_JOB_EXPERIENCE}</td>
                              <td class="dataTableContent">{INFO_TEXT_RESUME_EXPERIENCE}</td>
                            </tr> 
                            <tr class="dataTableRow1">
                              <td class="label">Habilidades</td>
                              <td class="dataTableContent_blue">{INFO_TEXT_JOB_SKILL}</td>
                              <td class="dataTableContent">{INFO_TEXT_RESUME_SKILL}</td>
                            </tr> 
                            <tr class="dataTableRow1">
                              <td class="label">Industria</td>
                              <td class="dataTableContent_blue">{INFO_TEXT_JOB_EXPERIENCE22}</td>
                              <td class="dataTableContent">{INFO_TEXT_RESUME_EDUCATION}</td>
                            </tr> 
                            <!--
                            <tr class="dataTableRow2">
                              <td class="label">{INFO_TEXT_JOB_TYPE}</td>
                              <td class="dataTableContent_blue">{INFO_TEXT_JOB_JOB_TYPE1}</td>
                              <td class="dataTableContent">{INFO_TEXT_RESUME_JOB_TYPE1}</td>
                            </tr>
                            -->
                            <tr class="dataTableRow1">
                              <td class="small_red" align="right">{INFO_TEXT_TOTAL}</td>
                              <td class="small_red">100%</td>
                              <td class="small_red">{INFO_TEXT_TOTAL1}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <!-- Middle Ends -->
      <!-- Right Starts -->
    </tr>
  </table>
  <!-- Right Ends -->
</body>

</html>