{HEADER_HTML}{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="display-6 p-0 m-0">{HEADING_TITLE}</h1>
                </div>
                <div class="card-body card-body-custom">
				<div class="row">
  <div class="col-md-4">
  <h5>{INFO_TEXT_JOBSEEKERS}</h5>
  <p class="card-text">{JOBSEEKER_SITE_MAP}</p>
  </div>
  <div class="col-md-4">
  <h5>{INFO_TEXT_EMPLOYER}</h5>
  <p class="card-text">{RECRUITER_SITE_MAP}</p>
  </div>
  <div class="col-md-4">
  <h5>{INFO_TEXT_OTHERS}</h5>
  <p class="card-text">{OTHERS_SITE_MAP}</p>
  </div>
</div>																
</div>
            </div>
        </div>
    </div>
</div>
{FOOTER_HTML}