{HEADER_HTML}
{HEADER_MIDDLE_HTML}

<div class="container text-center">
    <!-- Featured Logos Section -->
    <div class="row mt-5 text-center">
        <div class="col-lg-12 mb-3">
            <h2 class="text-pink mb-4">
                Empresas conectadas a Cuchumil
            </h2>
        </div>
        <div class="col-lg-12 mx-auto">
            <!-- BEGIN banner -->
            {banner.banner1}
            {banner.banner2}
            {banner.banner3}
            {banner.banner4}
            {banner.banner5}
            {banner.banner6}
            <!-- END banner -->
        </div>
    </div>

    <!-- /.row -->
</div>


<!-- Job Section -->
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 text-center mt-4 mb-4">
            <h2 class="text-purple mb-4">
                Oportunidades laborales destacadas
            </h2>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table tborder">
                    <tbody>
                        <!-- BEGIN latest_jobs -->
                        <tr valign="middle">
                            <td width="55">
                                <div class="theme5-logo">{latest_jobs.clogo}</div>
                            </td>
                            <td>{latest_jobs.title} <p class="text-muted mt-2"><i class="fa fa-building-o mr-1"
                                        aria-hidden="true"></i> {latest_jobs.company}</p>
                            </td>
                            <td class="text-muted for-mobile theme5-location"><i class="fa fa-map-marker mr-"
                                    aria-hidden="true"></i> {latest_jobs.location}</td>
                            <td class="for-mobile">{latest_jobs.jobtype}</td>
                        </tr>
                        <!-- END latest_jobs -->
                    </tbody>
                </table>
            </div>
            <!-- <div class="text-center mt-4">{ALL_JOBS}</div> -->
            <div class="text-center mt-4"> <a class="font30" href="/job_search.php">Ver todas las oportunidades</a></div>
        </div>
    </div>
</div>





<!-- Career Article Section -->
<div class="container-lg">
    <div class="row mt-5">
        <div class="col-lg-12 mobile-margin-bottom text-center mb-4">
            <h2 class="fontt">
                Educación laboral a tu alcance
            </h2>
        </div>

        {ARTICLE_HOME}
    </div>
</div>



<div class="container mt-5 for-mobile">

    <div class="row">
        <div class="col-md-12 mx-auto alert-bg-theme5" style="border-radius: 50px;padding: 15px 50px;">
            <div class="row">
                <div class="col-md-5">
                    <p style="margin: 0;color: #4A5568!important;font-size: 17px;width: 90%;padding: 0;">¡Recibe oportunidades laborales en el área de tu interés y encuentra el trabajo de tus sueños!
                    </p>
                </div>
                <div class="col-md-7 text-right float-right">
                    <div style="margin: 0px 0 0 0;">{CREATE_ALERT}</div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="container-fluid mt-5 text-center for-mobile  theme5-bg-dark"
    style="background-color: #F8E73E!important;">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <h2 id="counting" class="font-weight-bold count" style="font-size: 50px;">{JOBSEEKERS}</h2>
                <p class="theme6-stats" style="font-size: 22px;color:#fff;!important">Talentos</p>
            </div>
            <div class="col">
                <h2 id="counting" class="font-weight-bold count" style="font-size: 50px;">{RECRUITERS}</h2>
                <p class="theme6-stats" style="font-size: 22px;color:#fff;!important">Empresas</p>
            </div>
            <div class="col">
                <h2 id="counting" class="font-weight-bold count" style="font-size: 50px;">{JOBS}</h2>
                <p class="theme6-stats" style="font-size: 22px;color:#fff;!important">Oportunidades laborales</p>
            </div>
        </div>
    </div>
</div>

<div class="btn-bot">
    <button id="chat-btn" class="btn btn-primary">Chat <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
      </svg></button>
</div>

<div class="chat-bot">
    <div class="chat">
        <div class="chat-top">
            <div class="chat-img">
                <img src="img/logo.png" alt="">
            </div>
            <div class="chat-info">
                <div>
                    Cuchumil 
                    <div style="width: 67px; display: flex; flex-flow: row; margin: 0px auto;" >
                        <div class="green-btb"></div>
                        <p>  En linea</p>
                    </div>
                    
                    
                    
                </div>
                
            </div>
            <div class="chat-opts">
                <svg id="close-chat" style="margin: 23px; color:white;" xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                  </svg>
            </div>
        </div>
        <div id="overflowTest" class="chat-middle">

        </div>
        <div class="chat-bottom">
            <div class="chat-input">
                <input id="data" type="text" placeholder="Escribe tu mensaje aqui">
                <svg id="send-btn" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </div>

        </div>
    </div>
</div>



<!-- /.row -->

{FOOTER_HTML}