{HEADER_HTML}
{HEADER_MIDDLE_HTML}{INFO_TEXT_JSCRIPT_FILE}
<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<div class="card">
				<div class="card-header">
					<h1 class="display-6 p-0 m-0 float-left">{HEADING_TITLE}</h1>
					<div class="btn-group float-right"><a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
				</div>
				<div class="card-body">
					{update_message}
					{form}
					
					<div class="form-group row">
						<label for="my-input" class="col-md-2 text-right">{INFO_TEXT_SUBJECT}</label>
						<div class="col-md-8">
							{INFO_TEXT_SUBJECT1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-2 text-right">{INFO_TEXT_MESSAGE}</label>
						<div class="col-md-8">
							{INFO_TEXT_MESSAGE1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-2 text-right"></label>
						<div class="col-md-8">
							{button}

						</div>
					</div>
					
				
				</div>
			</div>
		</div>
	</div>
</div>

{FOOTER_HTML}