{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
      <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
  <td>&nbsp;
  </td>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-outer-table">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td><div class="admin-page-heading"><i class="fas fa-tachometer-alt fa-admin-icons"></i> {HEADING_TITLE}</div></td>
       </tr>
      </table>
      
     </td>
    </tr>
	   <tr>
     <td>
      <div class="widget-panel">
	  <div style="font-size:30px;font-weight:800;color: #17a2b8;"><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='{TEXT_INFO_JOBSEEKERS1}' data-delay='10' data-increment="9"></div></div>
	  <div style="margin: -7px 0 0 0;padding: 0;font-size: 13px;color: #777;text-transform: uppercase;">Job Seekers</div>
	  <div style="position: absolute;right: 22px;top: 33%;font-size: 48px;color: #eee;"><i class="fas fa-users"></i></div>
	  
	  </div>
	  <div class="widget-panel">
	  <div style="font-size:30px;font-weight:800;color: #28a745;"><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='{TEXT_INFO_TOTAL_RECRUITERS1}' data-delay='10' data-increment="9"></div></div>
	  <div style="margin: -7px 0 0 0;padding: 0;font-size: 13px;color: #777;text-transform: uppercase;">Recruiters</div>
	  <div style="position: absolute;right: 22px;top: 33%;font-size: 48px;color: #eee;"><i class="fas fa-user-tie"></i></div>
	  </div>
	  <div class="widget-panel">
	  <div style="font-size:30px;font-weight:800;color: #ffc107;"><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='{TEXT_INFO_TOTAL_JOBS1}' data-delay='10' data-increment="9"></div></div>
	  <div style="margin: -7px 0 0 0;padding: 0;font-size: 13px;color: #777;text-transform: uppercase;">Jobs</div>
	  <div style="position: absolute;right: 22px;top: 33%;font-size: 48px;color: #eee;"><i class="fas fa-briefcase"></i></div>
	  </div>
	  <div class="widget-panel2">
	  <div style="font-size:30px;font-weight:800;color: #dc3545;"><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='{TEXT_INFO_SALES1}' data-delay='10' data-increment="9"></div></div>
	  <div style="margin: -7px 0 0 0;padding: 0;font-size: 13px;color: #777;text-transform: uppercase;">Sales</div>
	  <div style="position: absolute;right: 22px;top: 33%;font-size: 48px;color: #eee;"><i class="fas fa-shopping-cart"></i></div>
	  
	  </div>
     </td>
    </tr>
    <tr>
     <td valign="top">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td width="50%" valign="top">
		<div class="admin-box-white1">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td><div class="admin-box-white1-heading-bar">{TABLE_HEADING_REPORT}</div></td>
              </tr>
            </table>
			</td>
          </tr>
          <tr>
            <td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-box-white-table-data">
              <tr style="background-color:#fafafa;">
			    <td>Name</td>
                <td>Numbers</td>
              </tr>
			  <tr>
                <td>{TEXT_INFO_JOBSEEKERS}</td>
                <td>{TEXT_INFO_JOBSEEKERS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_FEATURED_JOBSEEKERS}</td>
                <td>{TEXT_INFO_FEATURED_JOBSEEKERS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_TOTAL_RECRUITERS}</td>
                <td>{TEXT_INFO_TOTAL_RECRUITERS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_ACTIVE_RECRUITERS}</td>
                <td>{TEXT_INFO_ACTIVE_RECRUITERS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_FEATURED_RECRUITERS}</td>
                <td>{TEXT_INFO_FEATURED_RECRUITERS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_TOTAL_JOBS}</td>
                <td>{TEXT_INFO_TOTAL_JOBS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_ACTIVE_JOBS}</td>
                <td>{TEXT_INFO_ACTIVE_JOBS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_EXPIRED_JOBS}</td>
                <td>{TEXT_INFO_EXPIRED_JOBS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_DELETED_JOBS}</td>
                <td>{TEXT_INFO_DELETED_JOBS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_FEATURED_JOBS}</td>
                <td>{TEXT_INFO_FEATURED_JOBS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_OTHER_JOBS}</td>
                <td>{TEXT_INFO_OTHER_JOBS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_TOTAL_ORDERS}</td>
                <td>{TEXT_INFO_TOTAL_ORDERS1}</td>
              </tr>
              <tr>
                <td>{TEXT_INFO_SALES}</td>
                <td>{TEXT_INFO_SALES1}</td>
              </tr>
            </table></td>
          </tr>
        </table>
		</div>
		</td>
        <td valign="top" style="width:20px;">&nbsp;&nbsp;</td>
        <td valign="top">
		<div class="admin-box-white1">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr class="dataDbTableHeadingRow">{form}
                <td><div class="admin-box-white1-heading-bar">{TABLE_HEADING_REPORT_YEAR1} <span class="float-right"><span style="font-size:12px!important;margin:0 5px 0 0;">{TABLE_HEADING_STATISTICS}</span>{TABLE_HEADING_STATISTICS_YEAR}&nbsp;{button}</span></div></td>
                
              </tr>
              </table></td>
          </tr>
          <tr>
            <td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-box-white-table-data">
              <tr style="background-color:#fafafa;">
                <td>{TABLE_HEADING_MONTH}</td>
                <td>{TABLE_HEADING_JOBSEEKER}</td>
                <td>{TABLE_HEADING_JOB}</td>
                <td>{TABLE_HEADING_RECRUITER}</td>
                <td>{TABLE_HEADING_SALES}</td>
              </tr>
              <!-- BEGIN report -->
              <tr>
                <td>{report.TEXT_INFO_MONTH}</td>
                <td>{report.TEXT_INFO_JOBSEEKERS2}</td>
                <td>{report.TEXT_INFO_TOTAL_JOBS2}</td>
                <td>{report.TEXT_INFO_TOTAL_RECRUITERS2}</td>
                <td>{report.TEXT_INFO_SALES2}</td>
              </tr>
              <!-- END report -->
            </table></td>
          </tr>
        </table>
		</div>
		</td>
       </tr>
    <tr>
       <td>
	   <div class="admin-box-white2">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
		<td>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
										{chart_data}
        ]);
        var data1 = google.visualization.arrayToDataTable([
										{chart_data1}
        ]);
        var options = {
          title: '{CHART_DATA_REPORT_YEAR}',
										pointSize:2,
										backgroundColor:'f9f9f9'
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
								        var options = {
          title: 'Jobseeker {CHART_DATA_REPORT_YEAR}',
										pointSize:2,
										backgroundColor:'f9f9f9'
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div1'));
        chart.draw(data1, options);
      }
    </script>
	<div id="chart_div" style="background-color:#fff!important;"></div>
	</tr>
	</td>
	</table>
	</div>
	
	</td>
	<td>
	</td>
	
	<td>
	<div class="admin-box-white2">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
		<td>
	<div id="chart_div1" style="background-color:#fff!important;"></div>
	</tr>
	</td>
	</table>
	</div>
	
	</td>
	</tr>
	
       <tr>
        <td valign="top">
		<div class="admin-box-white1">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td><div class="admin-box-white1-heading-bar">{INFO_TEXT_SECTION_ORDER}</div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-box-white-table-data">
              <!-- BEGIN recruiter_order -->
              <tr>
                <td>{recruiter_order.name}</td>
                <td><nobr>{recruiter_order.order_total}</nobr></td>
                <td><nobr>{recruiter_order.date_purchased}</nobr></td>
                <td>{recruiter_order.status}</td>
              </tr>
              <!-- END recruiter_order -->
              <tr>
                <td colspan="4" align="right">{INFO_TEXT_MORE_ORDER}</td>
              </tr>
            </table></td>
          </tr>
        </table>
		</div>
		</td>
        <td></td>
        <td valign="top">
		<div class="admin-box-white1">
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
               <tr>
                 <td><div class="admin-box-white1-heading-bar">{INFO_TEXT_SECTION_HELP}</div></td>
               </tr>
             </table></td>
           </tr>
           <tr>
             <td><table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-box-white-table-data">
               <tr>
                 <td width="10"><i class="far fa-question-circle"></i></td>
                 <td><a href="https://youtu.be/Kkr7NLBnj8U" class="admin_video_help"  target="_blank">Order Process Guide (Video file)</a></td>
               </tr>
               <tr>
                 <td><i class="far fa-question-circle"></i></td>
                 <td><a href="https://ejobsitesoftware.com/wiki/" class="admin_video_help" target="_blank">How to Add/Edit Content (Video file)</a></td>
               </tr>
               <tr>
                 <td><i class="far fa-question-circle"></i></td>
                 <td><a href="https://youtu.be/PT3aLTP5WWs" class="admin_video_help" target="_blank">Banner Manager Help Guide (Video file)</a></td>
               </tr>
               <tr>
                 <td><i class="far fa-question-circle"></i></td>
                 <td><a href="https://youtu.be/hu-SXy8qDSo" class="admin_video_help" target="_blank">Title & Meta Tags (Video file)</a></td>
               </tr>
               <tr>
                 <td><i class="far fa-question-circle"></i></td>
                 <td><a href="http://www.ejobsitesoftware.com/help_file/newsletter.html" class="admin_video_help"  target="_blank">How to Send Newsletter (Video file)</a></td>
               </tr>
               <tr>
                 <td><i class="far fa-question-circle"></i></td>
                 <td><a href="https://youtu.be/PgbXkpx5BCE" class="admin_video_help" target="_blank">How to Add Job Category (Video file)</a></td>
               </tr>
               <tr>
                 <td colspan="2" align="right">{INFO_TEXT_MORE_HELP}</td>
               </tr>
             </table></td>
           </tr>
         </table>
		 </div>
         </td>
       </tr>
      </table>            
     </td>
<!-- Middle Ends -->
<!-- Right Starts -->
    </tr>
   </table>
	 </td>
	</tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}