{ADMIN_HEADER_HTML}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
     <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-outer-table">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td><div class="admin-page-heading"><i class="fa fa-google fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}</div></td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">{update_message}<br>
      <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-main-data-table">
       <tr>
        <td valign="top">
        <table border="0" width="100%" align="center" cellspacing="0" cellpadding="0" >
          <tr>
           <td valign="top">
            <table border="0" width="100%" cellspacing="0" cellpadding="0" class="admin-second-data-table">
             <tr class="dataTableRowSelected">
              <td >Google Captcha  is currently <b>{G_CAPTCHA_PLUGIN_STATUS}</b>.
               <br>
              </td>
             </tr>
            </table>
           </td>
          </tr>
         </table><br>{update_message}
         <table border="0" width="100%" cellspacing="0" cellpadding="0" >
          <tr>
           <td valign="top">
            <table border="0" width="100%" cellspacing="0" cellpadding="4" >
             <tr >
              <td >{gcaptcha_form}
               <table border="0" width="100%" cellspacing="10" cellpadding="4" >
                <tr >
                 <td class="label" width="20%"><nobr>{INFO_TEXT_G_CAPTCHA_PLUGIN}</nobr></td>
                 <td class="dataTableContent">{INFO_TEXT_G_CAPTCHA_PLUGIN1}</td>
                </tr>
                <tr>
                 <td class="label" valign="top"><nobr>{INFO_TEXT_G_CAPTCHA_PLUGIN_KEY}</nobr></td>
                 <td class="label">{INFO_TEXT_G_CAPTCHA_PLUGIN_KEY1}<div>Enter your google reCaptcha Api KEY.<br>Don't you have such a key? <a href="https://www.google.com/recaptcha/admin#createsite" target="_blank" class="blue">Request one here!</a>.</div> </td>
                </tr>                
                <tr>
                 <td class="label" valign="top"><nobr>{INFO_TEXT_G_CAPTCHA_PLUGIN_SECRET}</nobr></td>
                 <td class="label">{INFO_TEXT_G_CAPTCHA_PLUGIN_SECRET1}</td>
                </tr>
				<tr><td><b><u>Web Version</u></b></td></tr>
                <tr>
                 <td class="label" width="20%"><nobr>{TEXT_INFO_J_MODULE_STATUS}</nobr></td>
                 <td class="dataTableContent">{TEXT_INFO_J_MODULE_STATUS1}</td>
                </tr>
                <tr>
                 <td class="label" width="20%"><nobr>{TEXT_INFO_R_MODULE_STATUS}</nobr></td>
                 <td class="dataTableContent">{TEXT_INFO_R_MODULE_STATUS1}</td>
                </tr>
				<tr><td><b><u>Mobile Version</u></b></td></tr>
                <tr>
                 <td class="label" width="20%"><nobr>{TEXT_INFO_MJ_MODULE_STATUS}</nobr></td>
                 <td class="dataTableContent">{TEXT_INFO_MJ_MODULE_STATUS1}</td>
                </tr>                
                <tr>
                 <td class="label"><nobr>{TEXT_INFO_MR_MODULE_STATUS}</nobr></td>
                 <td class="dataTableContent">{TEXT_INFO_MR_MODULE_STATUS1}</td>
                </tr>                
                <tr>
                 <td></td>
                 <td class="label" valign="top" >{button}</td>
                </tr></form>
               </table>
              </td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
<!-- Middle Ends -->
<!-- Right Starts -->
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}