{ADMIN_HEADER_HTML}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
     <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-outer-table">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td><div class="admin-page-heading"><i class="fa fa-print fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}</div></td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">{update_message}<br>
      <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-main-data-table">
       <tr>
        <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="4" class="middle_table2">
         {form}
          <tr>
           <td class="small">{print_fields1}</td>
           <td class="small">{print_fields2}</td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="0" cellpadding="0" class="show_page">
          <tr>
           <td colspan="10"><hr></td>
          </tr>
         </table>
		 
		 <table border="0" width="100%" cellspacing="0" cellpadding="0" class="bottom-select-bar">
            <tr>
             <td align="left"><a href="#" onclick="checkall()">Check All</a> / <a href="#" onclick="uncheckall()">Uncheck All</a></td>
             <td align="right">{new_button}</td>
            </tr>
        </table>
		
		
         
   					</td>
       </tr>
      </table>
					</td>
<!-- Middle Ends -->
<!-- Right Starts -->
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}