{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
      <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="2">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="pageHeading">{HEADING_TITLE}</td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">
      <table border="0" width="100%" height="540" cellspacing="1" cellpadding="0" >
       <tr>
        <td valign="top" >
         <table border="0" width="100%" cellspacing="1" cellpadding="4" class="middle_table1" >
          <tr >
											<td class="dataTableRow5" align="right" valign="top" width="20%">{INFO_TEXT_USER_NAME}</td>
											<td class="dataTableRow2" >{INFO_TEXT_USER_NAME1}</td>
										</tr>
          <tr>
											<td class="dataTableRow5" align="right" valign="top">{INFO_TEXT_USER_EMAIL}</td>
											<td class="dataTableRow1">{INFO_TEXT_USER_EMAIL1}</td>
										</tr>
          <tr>
											<td class="dataTableRow5" align="right" valign="top">{INFO_TEXT_SUBJECT}</td>
											<td class="dataTableRow2">{INFO_TEXT_SUBJECT1}</td>
										</tr>
										<tr>
											<td class="dataTableRow5" align="right" valign="top">{INFO_TEXT_MESSAGE}</td>
											<td class="dataTableRow1">{INFO_TEXT_MESSAGE1}</td>
										</tr>
										<tr>
											<td class="label" align="right" valign="top">&nbsp;</td>
											<td>{INFO_TEXT_REPLY} &nbsp; {INFO_TEXT_BACK}</td>
										</tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
<!-- Middle Ends	-->
<!-- Right Starts -->     
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}