{ADMIN_HEADER_HTML}
{update_message}
<style type="text/css">
	.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.img_box
{
 display:block;
 border:1px solid #aaa;
background-color:#ededed;
 width :100px;
min-height:100px;
 padding:2px;
margin:2px;
 float:left;
 text-align:center;
}
</style>
<script type="text/javascript">
<!--
	{ajax_url}
//-->
</script>
<script language="javascript">
function set_oneday_date()
{
 if(document.jobfair.oneday.checked==true)
 {
   document.jobfair.TR_enddate.disabled=true;
   document.jobfair.TR_endmonth.disabled=true;
   document.jobfair.TR_endyear.disabled=true;
 }
 else
 {
   document.jobfair.TR_enddate.disabled=false;
   document.jobfair.TR_endmonth.disabled=false;
   document.jobfair.TR_endyear.disabled=false;
 }
}
</script>
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
      <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
<!-- Left Ends --> 
		<script language="javascript" type="text/javascript" src="../jscript/jobfair.js"></script>
		<script language="javascript" type="text/javascript" src="../tinymce2/tinymce.js"></script>
		<script language="javascript" type="text/javascript">
			tinyMCE.init({
  theme : "modern",
plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
  ],
  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help code',
  menubar:false,
  image_advtab: true,
  
  relative_urls : false,
remove_script_host : false,
			mode : "exact",
 	elements : "description,short_description",
  theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "center"

	});
		</script>
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-outer-table">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td><div class="admin-page-heading"><i class="fa fa-edit fa-admin-icons" aria-hidden="true"></i>{HEADING_TITLE}</div></td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">
      <table border="0" width="100%" cellspacing="1" cellpadding="0" class="middle_table1">
       <tr>
        <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="4" class="middle_table2">
          <tr>
           <td valign="top">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr> 
             
             <td><font color="#CC0000" size="2">*Required Field<br>&nbsp;</font></td>
             <td class="small" align="right">{view_list_of_jobfairs}&nbsp;&nbsp;&nbsp;</td>
            </tr>
            </table>{form}
            <table width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
            
             <tr> 
              <td class="label" width="220">{INFO_TEXT_JF_TITLE}</td>
              <td>{INFO_TEXT_JF_TITLE1}</td>
             </tr>
             <tr> 
              <td class="label">{INFO_TEXT_JOBFAIR_LOGO}</td>
              <td>{INFO_TEXT_JOBFAIR_LOGO1}</td>
             </tr>
             <tr> 
              <td class="label">{INFO_TEXT_JF_VIDEO}</td>
              <td>{INFO_TEXT_JF_VIDEO1}</td>
             </tr>
             <tr> 
              <td class="label">{INFO_TEXT_JOBFAIR_BEGINDATE}</td>
              <td>{INFO_TEXT_JOBFAIR_BEGINDATE1}</td>
             </tr>
             <tr> 
              <td class="label">{INFO_TEXT_JOBFAIR_ENDDATE}</td>
              <td>{INFO_TEXT_JOBFAIR_ENDDATE1}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{INFO_TEXT_ONE_DAY1}</td>
             </tr>
<!--             <tr> 
              <td class="label">{INFO_TEXT_JOBFAIR_REGISTRATION_BEGINDATE}</td>
              <td>{INFO_TEXT_JOBFAIR_REGISTRATION_BEGINDATE1}</td>
             </tr>
             <tr> 
              <td class="label">{INFO_TEXT_JOBFAIR_REGISTRATION_ENDDATE}</td>
              <td>{INFO_TEXT_JOBFAIR_REGISTRATION_ENDDATE1}</td>
             </tr>
 -->
             <tr> 
              <td class="label">{INFO_TEXT_JOBFAIR_STATUS}</td>
              <td>{INFO_TEXT_JOBFAIR_STATUS1}</td>
             </tr>
			<tr> 
              <td class="label">{INFO_TEXT_JF_LOCATION}</td>
              <td>{INFO_TEXT_JF_LOCATION1}</td>
			</tr>
			<tr> 
              <td class="label">{INFO_TEXT_JF_VENUE}</td>
              <td>{INFO_TEXT_JF_VENUE1}</td>
			</tr>
			<tr> 
              <td class="label" colspan="2">{INFO_TEXT_JF_GOOGLEMAP_URL}</td>
			</tr>
			<tr>
              <td colspan="2">{INFO_TEXT_JF_GOOGLEMAP_URL1}</td>
             </tr>
			<tr> 
              <td class="label" colspan="2">{INFO_TEXT_SHORT_DESCRIPTION}</td>
             </tr>
             <tr> 
              <td colspan="2">{INFO_TEXT_SHORT_DESCRIPTION1}</td>
             </tr>
             <tr> 
              <td class="label">{INFO_TEXT_DESCRIPTION}</td>
             </tr>
             <tr> 
              <td colspan="2">{INFO_TEXT_DESCRIPTION1}</td>
             </tr>
<!--              <tr> 
              <td colspan="2">{INFO_TEXT_PARTNERS_LOGO}</td>
             </tr>
            <tr>
				<td class="label">{INFO_PARTNERS_UPLOAD}</td>
				<td>{click_logo_to_delete}
			   <div id="partner_logo"><input type="file" name="files[]" multiple="multiple" /></div>
			   <div class="btn btn-info"><span id="add_more_photo">Add More Partner Logo</span></div>
			
			</td>
			</tr>
			-->
            <tr>
              <td>{button}</td>
             </tr>
            </table></form>	
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
{ADMIN_FOOTER_HTML}