{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
      <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="2">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="pageHeading">{HEADING_TITLE}</td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td>
      <table border="0" cellspacing="5" cellpadding="5">
       <tr>
        <td>{send_news_module}</td>
       </tr>
       <tr>
        <td>{news_test}</td>
       </tr>
      </table>
     </td>
    </tr>
    </form>
   </table>
	 </td>
<!-- Middle Ends -->
	</tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}