{ADMIN_HEADER_HTML}

<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
 <tr>
  <td width="{LEFT_BOX_WIDTH}" valign="top">
   <table border="0" width="{LEFT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
      <div class="admin-left-nav">{LEFT_HTML}</div>
     </td>
    </tr>
   </table>
  </td>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-outer-table">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td><div class="admin-page-heading"><i class="fa fa-cart-arrow-down fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}</div></td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">{update_message}<br>
      <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-main-data-table">
       <tr>
        <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="0" class="admin-second-data-table">
          <tr class="admin-table-head-bar">
           <td>{TABLE_HEADING_MODULES}</td>
           <td>{TABLE_HEADING_SORT_ORDER}</td>
           <td>{TABLE_HEADING_ACTION}&nbsp;</td>
          </tr>
          <!-- BEGIN modules -->
          <tr{modules.row_selected}>
           <td>{modules.title}</td>
           <td>{modules.sort_order}</td>
           <td>{modules.action}</td>
          </tr>
          <!-- END modules -->
         </table>
		 
         <table border="0" width="100%" cellspacing="0" cellpadding="0" class="bottom-select-bar">
   							<tr>
			   					<td class="small" colspan="2">{TEXT_MODULE_DIRECTORY}</td>
						   	</tr>
          <tr>
           <td class="small">{count_rows}</td>
           <td align="right" class="small">{no_of_pages}</td>
          </tr>
          <tr>
           <td colspan="2" align="right">{new_button}</td>
          </tr>
         </table>
   					</td>
       </tr>
      </table>
     </td>
<!-- Middle Ends -->
<!-- Right Starts -->
     <td width="{RIGHT_BOX_WIDTH}" valign="top">
      <table border="0" width="{RIGHT_BOX_WIDTH}" cellspacing="0" cellpadding="0" id="admin-right-table2">
       <tr>
        <td valign="top">{ADMIN_RIGHT_HTML}</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}