<table border="0" width="90%" cellspacing="1" cellpadding="0" align="center" bgcolor="#cccccc">
<tbody>

<tr>

<td bgcolor="#ffffff">
<table width="100%" cellspacing="2" cellpadding="2" align="center">
<tbody>

<tr>

<td bgcolor="#efefef">
<p><span style="font-size: small;">{logo}<br /><strong>{site_title}</strong></span></p>
<p>Te enviamos toda la información de la actualización del paquete que adquiriste:</p>

</td>

</tr>


<tr>

<td align="center" bgcolor="#f7f7f7" height="83">
<table border="0" width="90%" cellspacing="1" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr bgcolor="#f7f7f7">
<td style="width: 27.5647%;" bgcolor="#f7f7f7"><span style="font-size: small;"><strong>Número de pedido</strong></span>
</td>

<td style="width: 70.979%;"><span style="font-size: small;">{order_no}</span>
</td>

</tr>

<tr bgcolor="#f7f7f7">
<td style="width: 27.5647%;"><span style="font-size: small;"><strong>Factura </strong></span>
</td>

<td style="width: 70.979%;"><span style="font-size: small;">{order_invoice}</span>
</td>

</tr>

<tr bgcolor="#f7f7f7">
<td style="width: 27.5647%;"><span style="font-size: small;"><strong>Fecha de solicitud </strong></span>
</td>

<td style="width: 70.979%;"><span style="font-size: small;">{order_date}</span>
</td>

</tr>

</tbody>
</table>


</td>

</tr>


<tr>

<td bgcolor="#efefef"> 
</td>

</tr>


<tr>

<td bgcolor="#f7f7f7"><span style="font-size: small;">{admin_comment}</span>
</td>

</tr>


<tr>

<td bgcolor="#efefef">
<p>Ahora tu pedido se ha actualizado al siguiente estado:</p>

</td>

</tr>


<tr>

<td bgcolor="#f7f7f7"><span style="font-size: small;"><strong>Nuevo estado: </strong><strong>{order_status}</strong></span>
</td>

</tr>


<tr>

<td bgcolor="#efefef"> 
</td>

</tr>


<tr>

<td bgcolor="#f7f7f7">
<p>Cualquier duda que tengas, no dudes en contactarnos a <strong>{admin_email}</strong>, estamos para apoyarte.</p>

</td>

</tr>


<tr>

<td bgcolor="#f7f7f7">
<p>Un saludo,</p>
<p>{site_title}</p>

</td>

</tr>

</tbody>
</table>


</td>

</tr>

</tbody>
</table>

<p> </p>