{ADMIN_HEADER_HTML}
<div style="width:30%;margin:25px auto 0 auto;text-align:center;">{update_message}</div>
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0"  cellpadding="0">
 <tr>
<!-- Left Ends -->        
<body><!-- Middle Starts --><div class="panel admin-login-wrapper"><div style="text-align:center;">{LOGO}</div><div style="background-color: #eee;height: 1px;padding: 0px 0 0 0;margin: 25px -31px 0 -31px;">&nbsp;</div><br><div style="text-align: left; font-size: 18px; font-weight: 600;">{HEADING_TITLE}</div>{form}<div style="font-size: 14px;color: #797979;font-weight: bold;display:none;">{TEXT_INFO_USER_NAME}</div><div>{TEXT_INFO_USER_NAME1}</div><div style="font-size: 14px;color: #797979;font-weight: bold;margin:15px 0 0 0;display:none;">{TEXT_INFO_PASSWORD}</div><div style="margin:15px 0 0 0;">{TEXT_INFO_PASSWORD1}</div><div style="margin:15px 0 25px 0;">{forgot_password} {new_button}</div></div><div style="text-align:center;margin:30px 0 0 0;font-size:12px;">Powered by <a href="https://ejobsitesoftware.com">Job Board Software</a></div> </tr></table>
<!-- Right Ends -->