<table border="0" width="90%" cellspacing="1" cellpadding="0" align="center" bgcolor="#cccccc">
<tbody>

<tr>

<td bgcolor="#ffffff">
<table width="100%" cellspacing="2" cellpadding="2" align="center">
<tbody>

<tr>

<td bgcolor="#efefef"><span style="font-size: small;">{logo}<br /><strong>{site_title}</strong></span>
</td>

</tr>


<tr>

<td align="center" bgcolor="#f7f7f7" height="83">
<table border="0" width="90%" cellspacing="1" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr bgcolor="#f7f7f7">
<td bgcolor="#f7f7f7" width="20%"><span style="font-size: small;">Order Number</span>
</td>

<td><span style="font-size: small;">{order_no}</span>
</td>

</tr>

<tr bgcolor="#f7f7f7">
<td><span style="font-size: small;">Detailed Invoice</span>
</td>

<td><span style="font-size: small;">{order_invoice}</span>
</td>

</tr>

<tr bgcolor="#f7f7f7">
<td><span style="font-size: small;">Date Ordered</span>
</td>

<td><span style="font-size: small;">{order_date}</span>
</td>

</tr>

</tbody>
</table>


</td>

</tr>


<tr>

<td bgcolor="#efefef"> 
</td>

</tr>


<tr>

<td bgcolor="#f7f7f7"><span style="font-size: small;">{admin_comment}</span>
</td>

</tr>


<tr>

<td bgcolor="#efefef"><span style="font-size: small;"><strong>Your order has been updated to the following status.</strong></span>
</td>

</tr>


<tr>

<td bgcolor="#f7f7f7"><span style="font-size: small;">New status: <strong>{order_status}</strong></span>
</td>

</tr>


<tr>

<td bgcolor="#efefef"> 
</td>

</tr>


<tr>

<td bgcolor="#f7f7f7"><span style="font-size: small;">Please reply to this email if you have any questions.</span>
</td>

</tr>


<tr>

<td bgcolor="#f7f7f7"> 
</td>

</tr>

</tbody>
</table>


</td>

</tr>

</tbody>
</table>

<p> </p>