<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
<td align="right"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{banner}</span></td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Hola {recruiter_name},</strong></span></p>
<p>Encontramos los siguientes perfiles especialmente para ti, basadas en tus preferencias para encontrar el talento ideal para tu oportunidad laboral.<span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;"><br /></span></p>
</td>
</tr>
</tbody>
</table>
<br />
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr bgcolor="#e1e1e1">
<td width="240"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium;"><strong>RESUME ALERT RESULTS : </strong></span></td>
<td>
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{resume_alert_values}</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="4">
<tbody>
<tr bgcolor="#000000">
<td><span style="color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Name</strong></span></td>
<td><span style="color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Email address</strong></span></td>
<td> </td>

<!-- BEGIN resume_alert_template -->
</tr>
<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{resume_alert_template.name}</span></td>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{resume_alert_template.email_address}</span></td>
<td align="right"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{resume_alert_template.view}</span></td>
</tr>

<!-- END resume_alert_template -->
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>