<p>{logo}<br /><br />Estimada/o {recruiter_name},</p>
<p>Queremos recordarte que tu cuenta caducará en <span style="color: #ff0000;"><strong>{expired_date}</strong></span><span style="color: #ff0000;">(dd-mm-yyyy)</span>.</p>
<p>Te invitamos a renovarla antes de esta fecha, para que sigas disfrutando de las funcionalidades de nuestro portal.</p>
<p><span style="font-size: small;"><u>{click_here}</u></span> para iniciar sesión</p>
<p><span style="font-size: small;">Un saludo,</span></p>
<p><span style="font-size: small;">{site_link}</span></p>