<table>
<tbody>
<tr>
<td>{logo}</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td><span style="font-family: Verdana; font-size: small;">Dear <strong>{recruiter_name}</strong>, <br /><br />The following job will expire on <span style="color: #ff0000;"><strong>{expired_date} </strong></span>.<br /><br />If you want to extend the period the advertisement is shown, please log in to {site_title} and edit your job posting to reflect the extended ad expiry date. <br /><br /><strong>Job title :</strong>{job_title} <br /><br /><strong>Job ref. :</strong>{job_reference}<br /><br />{re_advertise_link}<br /><br />Admin<br />{site_link}</span></td>
</tr>
</tbody>
</table>