<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="10" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{logo}</span></td>
<td align="right"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">{banner}</span></td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p><span style="font-size: small;"><span style="font-family: Verdana, Arial, Helvetica, sans-serif;"><strong>Hi {jobseeker_name},</strong></span></span></p>
<p><span style="font-size: small;"><span style="font-family: Verdana, Arial, Helvetica, sans-serif;">The following are the most recent job matches based on your {site_title} - Job Agent. Feel free to update your resume if needed and apply to the opportunities that fit your skills and interests. <span style="font-weight: 400;">Turn your passion into a paycheck with jobs that make a difference.</span></span></span></p>
<p><span style="font-size: small;">Regards,</span></p>
<p>{site_link}</p>
</td>
</tr>
</tbody>
</table>
<br />
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr bgcolor="#e1e1e1">
<td width="200"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium;"><strong>JOB ALERT RESULTS : </strong></span></td>
<td>
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr>
<td valign="top"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{job_alert_values}</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="1" cellpadding="0" align="center" bgcolor="#d0d0d0">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="4">
<tbody>
<tr bgcolor="#000000">
<td><span style="color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Location</strong></span></td>
<td><span style="color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Job Title</strong></span></td>
<td><span style="color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Company</strong></span></td>
<td align="right">><span style="color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Apply now</strong> </span></td>
</tr>

<!-- BEGIN job_alert_template -->

<tr>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{job_alert_template.location}</span></td>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{job_alert_template.job_title}</span></td>
<td><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{job_alert_template.company}</span></td>
<td align="right"><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small;">{job_alert_template.apply_now_button}</span></td>
</tr>

<!-- END job_alert_template -->
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>